@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 17% 97%;
    --foreground: 24 6% 10%;
    --card: 40 17% 97%;
    --card-foreground: 24 6% 10%;
    --popover: 40 17% 97%;
    --popover-foreground: 24 6% 10%;
    --primary: 32 73% 65%;
    --primary-foreground: 24 6% 10%;
    --secondary: 40 17% 92%;
    --secondary-foreground: 24 6% 10%;
    --muted: 40 17% 92%;
    --muted-foreground: 24 6% 40%;
    --accent: 120 15% 75%;
    --accent-foreground: 24 6% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 40 17% 87%;
    --input: 40 17% 87%;
    --ring: 32 73% 65%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 24 6% 10%;
    --foreground: 48 33% 94%;
    --card: 24 6% 10%;
    --card-foreground: 48 33% 94%;
    --popover: 24 6% 10%;
    --popover-foreground: 48 33% 94%;
    --primary: 32 73% 65%;
    --primary-foreground: 24 6% 10%;
    --secondary: 24 6% 15%;
    --secondary-foreground: 48 33% 94%;
    --muted: 24 6% 15%;
    --muted-foreground: 48 20% 75%;
    --accent: 120 15% 25%;
    --accent-foreground: 48 33% 94%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;
    --border: 24 6% 20%;
    --input: 24 6% 20%;
    --ring: 32 73% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
